@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$accent-red: rgba(255, 98, 87);
$accent-red-transparent: rgba(255, 98, 87, 0.15);
$accent-orange: rgb(226, 76, 6);
$blue-700: rgb(54, 56, 78);
$blue-800: rgb(36, 39, 66);
$gray: rgb(172, 172, 172);

$button-gradient: linear-gradient(90deg, $accent-red, $accent-orange);

$font-stack: system-ui, 'Roboto', sans-serif;

$font-heading-fluid: clamp(2.125rem, -0.4464rem + 12.8571vw, 3.25rem);
$font-paragraph-fluid: clamp(0.875rem, 0.5893rem + 1.4286vw, 1rem);
$font-label-fluid: clamp(0.675rem, 0.3893rem + 1.4286vw, 0.8rem);
