@use 'reset.css';
@use 'variables';
@use 'form';
@use 'media-queries';

body {
  display: grid;
  place-items: center;
  background-color: variables.$blue-700;
  font-family: variables.$font-stack;
  margin: 1rem;

  @include media-queries.mobile {
    margin: 0;
    display: block;
    background-color: inherit;
  }
}

main {
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  color: variables.$blue-800;

  @include media-queries.tablet {
    flex-direction: column-reverse;
  }

  @include media-queries.mobile {
    padding: 0;
    border-radius: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-inline: 3rem;
  max-width: 30rem;

  h1 {
    font-size: variables.$font-heading-fluid;
  }

  p {
    font-size: variables.$font-paragraph-fluid;
  }

  ul {
    padding: 0;
    margin-top: 0.5rem;
    li {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.5rem;
      list-style-type: none;

      font-size: variables.$font-paragraph-fluid;
    }
  }

  @include media-queries.tablet {
    padding-bottom: 4rem;
    max-width: none;
    padding-inline: 1.5rem;
    margin-top: 1rem;
  }

  @include media-queries.mobile {
    max-width: none;
    padding-bottom: 1.5rem;
  }
}

.decorative-image {
  max-height: 35rem;

  @include media-queries.mobile {
    width: 100%;
  }
}
