@use 'reset.css';
@use 'variables';
@use 'component';
@use 'media-queries';

body {
  background-color: variables.$blue-700;
  display: grid;
  place-items: center;
  font-family: variables.$font-stack;
  color: variables.$blue-800;

  @include media-queries.mobile {
    background-color: inherit;
  }
}

#success {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
  max-width: 27rem;

  @include media-queries.mobile {
    height: 100%;
    border-radius: 0;
    padding-top: 10rem;
  }
}

#dismiss-btn {
  @include media-queries.mobile {
    margin-top: auto;
  }
}

h1 {
  font-size: 3.25rem;
  line-height: 3.25rem;
}

img {
  width: 4rem;
}

.sent-to {
  font-weight: 700;
}
